
<div class="jumbotron"><h3>Total Money Earned: <%= total_earning(@orders) %>$</h3></div>
<h1>Products</h1>
<a class="btn btn-info" href="<%= new_product_path %>">Add Product</a>

  <%= render 'shared/products' %>

<h1>Categories</h1>
<a class="btn btn-info" href="<%= new_category_path %>">Add Category</a>

  <%= render 'shared/categories' %>


<h1>Orders</h1>
  <%= render 'shared/orders' %>


