<% @products.each do |product| %>
    <h2><%= product.name %></h2>
    <p><%= product.description %></p>
    <p><b>Price:</b><%= product.price %></p>
<hr>
    <%= link_to 'View Product', product_path(product)  %>
    <%= link_to 'Delete Product', product, method: :delete %>
<% end %>