<div class="container">
<a href="<%= products_path %>" class="btn btn-secondary mt-2 btn-lg">Back</a><br />
<div class="row">
    <div class="col-md-5">
      <% if @product.image.attached? %>  
        <img src="<%= url_for(@product.image) %>" alt="Product Image" class="w-75">
      <% end %>
    </div>
    <div class="col-md-5 mt-5">
      <h2><%= @product.name %></h2>
      <p><%= @product.description %></p>
      <p><b>Price:</b><%= @product.price %></p>
      <b>Category:</b><% @product.categories.each do |cat|%> <ul> <li> <%= cat.name %></li></ul>   <% end %>
      <%= button_to 'Add To Cart', line_items_path(product_id: @product), class: "mr-2 btn btn-secondary" %>
    </div>
</div>
    
</div>