    
    <a href="<%= products_path %>" class="btn btn-secondary">Back</a><br />
 
    <% if @product.image.attached? %>  
    <img src="<%= url_for(@product.image) %>" alt="Product Image" class="w-75">
    <% end %>
    <h2><%= @product.name %></h2>
    <p><%= @product.description %></p>
    <p><b>Price:</b><%= @product.price %></p>
    <b>Category:</b>
    <ul>
    <% @product.categories.each do |category| %>
    <li><%= category.name %></li>
    <%end%>
    </ul>
    <%= link_to 'Delete product', product_path(@product), method: :delete %>